<div  id="page-top">

<% if user_signed_in? %>
    <!-- Page Wrapper -->
    <div id="wrapper">

     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">
            <%= render "shared/header" %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Earnings (Monthly) Card Example -->
                <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">採血・採尿・画像検査</h3>
                </div>
                <div class="card-body">
                    <% if @overview_blood_urine_tests.where.not(blood_urine_test_date:nil).where(user_id: current_user.id).present? %>
                            <% @overview_blood_urine_tests.each do |overview| %>
                                <% if current_user.id == overview.user_id %>
                                    <div class="font-weight-bold text-uppercase mt-2 mb-2">
                                            測定日 <%= overview.blood_urine_test_date %>
                                            <%= link_to edit_overview_path(overview.id), method: :get do%>
                                                <div class="btn btn-info btn-circle btn-sm"><i class="far fa-edit"></i></div>
                                                <div class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash btn-sm"></i></div>
                                            <% end %>
                                    </div>
                                    <span class="h5 mb-0 font-weight-bold text-gray-800 mr-5">
                                        <%= image_tag overview.image, class: 'test-image' if overview.image.present?  %>                                                                           
                                    </span>
                                    <hr class="sidebar-divider">
                                <% end %>
                            <% end %>
                    <% else %>
                        <p class="h6 font-weight-bold text-uppercase mb-1 mr-2">
                        データを登録してね！
                        </p>
                    <% end %>
                </div>
            </div>     
    </div>
<% end %>
    <!-- End of Main Content -->

<%= render "shared/fotter" %>