<div  id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
        <div id="content">

          <%= render "shared/header" %>

            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="p-5 pt-3">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">編集・削除</h1>
                </div>

                  <%= form_with model: @overview, class: 'user',name: 'form', local: true do |f| %> 
                    <%= render 'shared/error_messages', model: f.object %>
                  
                  <div class="card card-body border-left-success mb-3 py-3">
                    <div class="h5 m-3">
                      身長・体重・腹囲
                    </div>
                    <div class="form-group ml-4">
                        <div class='input-date-wrap'>
                          <label class="col-sm-12 col-md-2">測定日</label>
                          <%= raw sprintf(
                                        f.date_select(
                                          :physicalfinding_measuring_date,
                                          use_month_numbers: true,
                                          prompt:'--',
                                          start_year: (Time.now.year),
                                          end_year: 2000,
                                          date_separator: '%s'),
                                        "<p> 年 </p>", "<p> 月 </p>",) + "<p> 日 </p>" %>
                        </div>                                
                        <div class="row">
                          <div class="col-md-6 mt-2">
                            <%= f.text_field :height, class:"input-default form-control form-control-user overview", id:"height", placeholder:"身長（半角）cm", maxlength:"3" %> 
                          </div>                             
                          <div class="col-md-6 mt-2">
                            <%= f.text_field :weight, class:"input-default form-control form-control-user overview", id:"weight", placeholder:"体重（半角）cm", maxlength:"3" %>  
                          </div>
                          <div class="col-md-6 mt-2">
                            <%= f.text_field :abdominal_circumference, class:"input-default form-control form-control-user overview", id:"abdominal_cicumference", placeholder:"腹囲（半角）cm", maxlength:"3" %>
                          </div>
                          <div class="col-md-6 mt-2" >
                            <%= f.text_field :bmi, class:"input-default form-control form-control-user overview", id:"bmi-form", placeholder:"BMI 自動で計算されます", maxlength:"3" %>
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="card card-body border-left-info mb-3 py-3">
                    <div class="h5 m-3">
                    採血・採尿
                    </div>
                    <div class="form-group ml-4">
                        <div class='input-date-wrap'>
                          <label class="col-sm-12 col-md-2">測定日</label>
                          <%= raw sprintf(
                                        f.date_select(
                                          :blood_urine_test_date,
                                          use_month_numbers: true,
                                          prompt:'--',
                                          start_year: (Time.now.year),
                                          end_year: 2000,
                                          date_separator: '%s'),
                                        "<p> 年 </p>", "<p> 月 </p>",) + "<p> 日 </p>" %>
                        </div>                                 
                        
                        <div class="btn btn-light btn-icon-split mt-2 blood-urine-test"> 
                          <label class="text">画像を選択
                            <%= f.file_field :image, accept: '.jpeg, .jpg, .gif, .png, .bmp', style:"display:none", id:'img' %>
                          </label>
                        </div>
                          
                        <div id="image-list">
                          <%= image_tag @overview.image, id: 'image' if @overview.image.present? %> 
                        </div>

                    </div>
                  </div>

                  <div class="card card-body border-left-warning mb-3 py-3">
                    <div class="h5 m-3">
                    受診歴
                    </div>
                    <div class="form-group ml-4">
                        <div class='input-date-wrap'>
                          <label class="col-sm-12 col-md-2">受診日</label>
                          <%= raw sprintf(
                                        f.date_select(
                                          :medical_care_date,
                                          use_month_numbers: true,
                                          prompt:'--',
                                          start_year: (Time.now.year),
                                          end_year: 2000,
                                          date_separator: '%s'),
                                        "<p> 年 </p>", "<p> 月 </p>",) + "<p> 日 </p>" %>
                        </div>                                
                        <div class="row">
                          <div class="col-12 mt-2">
                            <%= f.text_field :clinic_name, class:"input-default form-control form-control-user overview-medical-care", id:"clinic_name", placeholder:"病院名(◯◯クリニックなど)", maxlength:"40" %> 
                          </div>                             
                          <div class="col-12 mt-2">
                            <%= f.text_field :disease_name, class:"input-default form-control form-control-user overview-medical-care", id:"disease_name", placeholder:"病名(胃ポリープ、膀胱炎など)", maxlength:"60" %>  
                          </div>
                          <div class="col-12 mt-2">
                            <%= f.text_field :treatment_medicine, class:"input-default form-control form-control-user overview-medical-care", id:"treatment_medicine", placeholder:"処置・薬(内視鏡、抗生剤 服用など)", maxlength:"60" %>  
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="card card-body border-left-danger mb-3 py-3">
                    <div class="h5 m-3">
                    ワクチン接種歴
                    </div>
                    <div class="form-group ml-4">
                        <div class='input-date-wrap'>
                          <label class="col-sm-12 col-md-2">接種日</label>
                          <%= raw sprintf(
                                        f.date_select(
                                          :vaccine_date,
                                          use_month_numbers: true,
                                          prompt:'--',
                                          start_year: (Time.now.year),
                                          end_year: 2000,
                                          date_separator: '%s'),
                                        "<p> 年 </p>", "<p> 月 </p>",) + "<p> 日 </p>" %>
                        </div>                                
                            <%= f.collection_select(:vaccine_id, Vaccine.all, :id, :name, {}, {class:"mt-3 overview"}) %>
                        </div>
                    </div>
                  </div>
                      <%= f.submit "再登録" ,class:"btn btn-facebook btn-block" %>
                      <%= link_to "削除", overview_path(@overview.id), method: :delete, class: 'btn btn-google btn-block' %>
                  <% end %>
              </div>         
            </div>
<%= render "shared/fotter" %>