<% unless user_signed_in? %>
    <div class="bg-gradient-primary">
       <div class="container">
           <!-- Outer Row -->
           <div class="row justify-content-center">
               <div class="col-xl-10 col-lg-12 col-md-9">
                   <div class="card o-hidden border-0 shadow-lg my-5">
                       <div class="card-body p-0">
                           <!-- Nested Row within Card Body -->
                           <div class="row">
                               <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                               <div class="col-lg-6">
                                   <div class="p-5">
                                       <div class="text-center">
                                           <h1 class="h4 text-gray-900 mb-4">HealthCode</h1>
                                           <p class="mb-4">自分の身体は自分で管理を</p>
                                           <p class="mb-4">検診結果、薬歴などをデータ管理しましょう。</p>
                                       </div>
                                       <hr>
                                       <div class="text-center mb-4">
                                           <%= link_to 'ログイン', new_user_session_path%>
                                       </div>
                                       <div class="text-center">
                                            <%= link_to '新規登録', new_user_registration_path %>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
<% end %>

<% if user_signed_in? %>
<!-- Page Wrapper -->
    <div id="wrapper">

    <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%= render "shared/header" %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">最新情報</h1>
                    </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="card border-left-success shadow h-100 py-2 md-12 mb-4">
                            <div class="card-body">
                                <span class="h5 font-weight-bold text-uppercase mb-1 mr-2">
                                        体重・腹囲・BMI
                                </span>
                                <% if @overview_physicalfinding_measurings.where(user_id: current_user.id).present? %>
                                    <div class="mt-3">
                                        <%= high_chart("my_chart", @chart) %>
                                    </div>
                                <% else %>
                                    <p class="h6 font-weight-bold text-uppercase mb-1 mr-2">
                                    データを登録してね！
                                    </p>
                                <% end %> 
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="card border-left-info shadow h-100 py-2 md-12 mb-4">
                            <div class="card-body">
                                <span class="h5 font-weight-bold text-uppercase mb-1 mr-2">
                                    採血・採尿
                                </span>
                                <% if @overview_blood_urine_tests.where(user_id: current_user.id).present? %>
                                    <div class="font-weight-bold text-uppercase mt-2 mb-2">
                                            最新測定日 <%= @overview_blood_urine_tests.where(user_id: current_user.id).first.blood_urine_test_date %>
                                    </div>                                                               
                                    <span class="h5 mb-0 font-weight-bold text-gray-800 mr-5">
                                        <%= image_tag @overview_blood_urine_tests.where(user_id: current_user.id).first.image, class: 'test-image' if @overview_blood_urine_tests.where(user_id: current_user.id).first.image.present? %>                                         
                                    </span>
                                <% else %>
                                    <p class="h6 font-weight-bold text-uppercase mb-1 mr-2">
                                        データを登録してね！
                                    </p>
                                <% end %>
                            </div>
                        </div>            
                            
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="card border-left-warning shadow h-100 py-2 md-12 mb-4">
                        <div class="card-body">
                            <span class="h5 font-weight-bold text-uppercase mb-2">
                                最終受診歴
                            </span>
                            <% if @overview_medical_cares.where(user_id: current_user.id).present? %>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr class="thead bg-primary bg-gradient text-light">
                                                <th></th>
                                                <th>病院名</th>
                                                <th>病名・診断名</th>
                                                <th>処置・薬</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @overview_medical_cares.first(3).each do |overview_medical_care| %>
                                                <tr>
                                                    <td><%= overview_medical_care.medical_care_date %></td>
                                                    <td data-label="病院名"><%= overview_medical_care.clinic_name %></td>
                                                    <td data-label="病名"><%= overview_medical_care.disease_name %></td>
                                                    <td data-label="処置・薬"><%= overview_medical_care.treatment_medicine %></td>     
                                                </tr> 
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            <% else %>
                                <p class="h6 font-weight-bold text-uppercase mb-1 mr-2">
                                    データを登録してね！
                                </p>    
                            <% end %> 
                        </div>
                    </div>
    
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="card border-left-danger shadow h-100 py-2 md-12 mb-4">
                        <div class="card-body">
                            <span class="h5 font-weight-bold text-uppercase mb-1 mr-2">
                                最終ワクチン接種歴
                            </span>
                            <% if @overview_vaccines.where(user_id: current_user.id).present? %>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr class="thead bg-primary bg-gradient text-light">
                                                <th>接種日</th>
                                                <th>種類</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @overview_vaccines.first(3).each do |overview_vaccine| %>
                                                <tr>
                                                        <td><%= overview_vaccine.vaccine_date %></td>
                                                        <td data-label="種類"><%= overview_vaccine.vaccine.name %></td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            <% else %>
                                <p class="h6 font-weight-bold text-uppercase mb-1 mr-2">
                                    データを登録してね！
                                </p>      
                            <% end %>
                        </div>     
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <% end %>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
