<div  id="page-top">

<% if user_signed_in? %>
    <!-- Page Wrapper -->
    <div id="wrapper">

     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">
            <%= render "shared/header" %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <!-- DataTales Example -->
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h3 class="m-0 font-weight-bold text-primary">身長・体重・腹囲</h3>
                  </div>
                  <div class="card-body">
                    <% if @overview_physicalfinding_measurings.where.not(physicalfinding_measuring_date:nil).where(user_id: current_user.id).present? %>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead bg-primary bg-gradient text-light">
                                    <th>測定日</th>
                                    <th>身長 cm</th>
                                    <th>体重 cm</th>
                                    <th>腹囲 cm</th>
                                    <th class="table-bmi">BMI　  </th>
                                    <th class="table-edit-trash"></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="thead bg-primary bg-gradient text-light">
                                    <th>測定日</th>
                                    <th>身長 cm</th>
                                    <th>体重 cm</th>
                                    <th>腹囲 cm</th>
                                    <th>BMI　  </th>
                                    <th></th>
                                </tr>
                            </tfoot>                                
                                <tbody>
                                    <div class="mt-3">
                                        <%= high_chart("my_chart", @chart) %>
                                    </div>
                                    <% @overview_physicalfinding_measurings.each do |overview| %>
                                        <% if current_user.id == overview.user_id %>
                                            <tr>
                                                <td><%= overview.physicalfinding_measuring_date %></td>
                                                <td data-label="身長"><%= overview.height %></td>
                                                <td data-label="体重"><%= overview.weight %></td>
                                                <td data-label="腹囲"><%= overview.abdominal_circumference %></td>
                                                <td data-label="BMI"><%= overview.bmi %></td>
                                                <td>
                                                <%= link_to edit_overview_path(overview.id), method: :get do%>
                                                    <div class="btn btn-info btn-circle btn-sm"><i class="far fa-edit"></i></div>
                                                    <div class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash btn-sm"></i></div>
                                                <% end %>
                                                </td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>                    
                            </table>
                        </div>
                    <% else %>
                        <p class="h6 font-weight-bold text-uppercase mb-1 mr-2">
                            データを登録してね！
                        </p>
                    <% end %> 
                  </div>
              </div>

            </div>
              <!-- /.container-fluid -->    
    </div>
<% end %>
    <!-- End of Main Content -->

    <%= render "shared/fotter" %>